/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 1.5px;
    color: #252525;
}

/* Header */
header {
    background-color: #75616c;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #fbfbfa;
}


#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu a:hover,
.active {
    color: #d9cc14;
    border-bottom: 1px solid #d9cc14;
}

#menu>li {
    margin-bottom: 1em;
}

#menu>li:hover {
    transition: 0.3s;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #75616c;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #fbfbfa;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/coffee.jpg") no-repeat center center /cover;
}


#cover-text {
    font-size: 170%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 350px;
    padding: 15px 10px;
    background-color: rgb(171 166 166 / 80%);
    right: 15px;
    top: 50px;
    border-radius: 15px;
    position: absolute;
}

/* About us  */
#about-us {
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px; 
}

#about-us h2 {
    font-size: 36px;
    font-weight: 600;
}

.about-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.about-col img {
    width: 100%;
    border-radius: 10px;
}

.about-col p {
    padding: 0;
}

.about-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Feedback  */
.feedback {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.feedback h2 {
    font-size: 36px;
    font-weight: 600;
}

.feedback p {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.feed-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.feed-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #cec7c7;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.feed-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.feed-col p {
    padding: 0;
}

.feed-col h3 {
    margin-top: 15px;
    text-align: left;
}

/* Menu page */

.menu-container {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.menu-container p {
    color: #3a3a3a;
    line-height: 22px;
    padding: 10px;
}

.menu-container h2 {
    font-size: 36px;
    font-weight: 600;

}

.menu-list {
    width: 70%;
    margin: auto;
    flex-flow: column;
    background-color: #cec7c7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-list h2 {
    text-align: center;
    padding-bottom: 10px;
}

.menu-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.menu-item h2 {
    color: #333;
}

.menu-item h3 {
    text-align: center;
    padding-bottom: 10px;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #888;
}

.allergens {
    font-size: 12px;
    color: #888;
}


/* Gallery */

.gal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.gal-container .gal-heading {
    width: 50%;
    padding-bottom: 50px;
}

.gal-container .gal-heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #252525;
}

.gal-container .gal-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gal-container .gal-box .gal-pic {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gal-container .gal-box .gal-pic img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* Contcat Page */

#form-section {
    background: url("../images/pancake.jpg") no-repeat center center /cover;
    background-color: #fafafa;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(9, 9, 24, 0.73);
    padding: 30px;
}

#form-section h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

textarea#subject {
    width: 100%;
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
    border-radius: 2px;
    padding: 2px 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #d9cc14;
    color: #1c0d0d;
    font-weight: 600;
}

::placeholder {
    color: #ece2e2;
    font-size: 90%;
}

/*  Contact information and icons*/
.contact-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 9, 24, 0.73);
    color: #fafafa;
}

.contact-us {
    /* width: 80%; */
    margin: auto;
    display: inline;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
    display: contents;
    box-sizing: border-box;

}

.contact-col div {
    display: flex;
    align-items: center;
    text-align: center;
}

.contact-col .fa-solid  {
    font-size: 28px;
    color: #d9cc14;
    margin: 15px;
    margin-right: 30px;
}

.contact-col .fa-regular {
    font-size: 28px;
    color: #d9cc14;
    margin: 15px;
    margin-right: 30px;
}



.contact-col div p {
    padding: 0;
}

.contact-col h5 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.locations {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.locations iframe {
    width: 100%;
}

/* Back to top button */
.back-to-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #c7c062;
    color: #fff;
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.3s;
}

.back-to-top-button:hover {
    background-color: #d9cc14;
    transition: 0.3s;
}

/* Footer */
.social-networks {
    text-align: center;
    padding: 20px 0;
    background-color: #75616c;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #d9cc14;
}

/* Media query: Mobiles (max 700px )*/
@media screen and (max-width: 700px) {
    /* Logo */
    #logo {
        color: #d9cc14;
    }
    
    /* home page */
    #cover-text {
        width: 250px;
        font-size: 120%;
        text-align: center;
    }

    #about-us {
        padding-top: 50px;
    }

    #about-us p {
        text-align: left;
        padding-bottom: 50px;
    }

    .about-row {
        flex-direction: column;
    }
    
    .feed-row {
        flex-direction: column;
    }

    .feed-col>img {
        margin-left: 0px;
        margin-right: 15px;
    }

    /* Gallery */

    .gal-container .gal-box {
        flex-direction: column;
    }

    .gal-container .gal-box .gal-pic {
        width: 100%;
    }

    .gal-container>.gal-heading {
        width: 100%;
    }

    .gal-container>.gal-heading>h3 {
        font-size: 2em;
    }

    /* Menu Page */
    .menu-container h2 {
        font-size: 35px;
    }

    .menu-container p {
        text-align: left;
    }

    .menu-list {
        width: 92%;
        margin: 11px;
        margin-bottom: 20px;
    }

    .menu-item h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    /* Contact Page */
    .radio-buttons {
        display: contents;
    }

    .contact-col div {
        display: inline;
        text-align: center;
    }
}


/* Media query: tablets and larger (768px and up*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        color: #d9cc14;
    }


    main {
        margin-top: 79px;
    }

    /* Menu Page */
    .menu-list {
        width: 70%;
        margin-bottom: 25px;
    }

    /* Contact Page */
    .contact-col div {
        display: flex;
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-col .fa-solid {
        font-size: 25px;
        color: #d9cc14;
        margin: 15px;
        margin-right: 30px;
    }

    .contact-col .fa-regular {
        font-size: 25px;
        color: #d9cc14;
        margin: 15px;
        margin-right: 30px;
    }
    .contact-col h5 {
        font-size: 15px;
        font-weight: 400;
        margin: auto;
        color: #fbfbfa;
    }

}

/* laptops and desktops */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #d9cc14;
    }

    /* Contact  */
    .contact-col div {
        display: flex;
        margin-bottom: 10px;
        padding-left: 25px;
    }
}

@media screen and (min-width: 1440px)  {
    /* Menu */
    .gal-container {
        margin: 40px 60px 25px 60px;
    }

    /* Contact  */
    .contact-row {
       display: block;
    }

    .contact-col div {
        display: flex;
        margin-bottom: 10px;
        padding-left: 130px;
    }

}