/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

/* Asterisk wildcard selector to overriide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    height: 80px;
    background-color: #fafafa;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}

/* Main content */
main {
    background-color: lightgray;
    /* Push the footer down taking surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: yellowgreen;
}